*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}

body{background:#0d1525;color:white}

header,footer{
background:#111;
text-align:center;  
padding:15px
}

nav a{
margin:10px;
cursor:pointer;
color:#00ffcc
}

.container{max-width:1000px;margin:auto;padding:20px}

.hero{
display:flex;
gap:20px;
align-items:center;
background:#14203a;
padding:25px;
border-radius:18px
}

.hero img{
width:260px;
border-radius:15px
}

button{
background:#00ffcc;
border:none;
padding:10px;
cursor:pointer;
border-radius:20px
}

#coins{
display:flex;
gap:15px;
flex-wrap:wrap
}

.card{
background:#1a2336;
padding:12px;
border-radius:12px;
width:160px
}

.page{display:none}
.page.active{display:block}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
gap:15px
}

.cards div{
background:#1a2336;
padding:10px;
border-radius:12px;
text-align:center
}

.cards img{
width:100%;
height:110px;
object-fit:cover;
border-radius:10px
}

input,select{width:100%;padding:8px;margin:5px 0}

#error{color:red}

@media(max-width:700px){
.hero{flex-direction:column}
}